[submodule "neovim_config"]
	path = neovim/config
	url = git@github.com:jonathanchukinas/neovim_config.git
	branch = jjc

	# TODO make a note in this subrepo that I should always work from jjc branch
	# https://stackoverflow.com/questions/29882960/changing-an-existing-submodules-branch
