[user]
	name = Jonathan Chukinas (pop!_os)
	email = chukinas@gmail.com
[core]
	editor = vim
[init]
	defaultBranch = main

[alias]
    lol = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

# ***MY NOTES***
#
# BRANCHES
# Rename Current Branch: $git branch -m <new_name>
