version 1

snippet hcon CONSTRUCTOR header
	# *** *******************************
	# *** CONSTRUCTORS

	$0
snippet hred REDUCERS header
	# *** *******************************
	# *** REDUCERS

	$0
snippet hv CONVERTERS header
	# *** *******************************
	# *** CONVERTERS

	$0
snippet hall
	# *** *******************************
	# *** CONSTRUCTORS

	$0

	# *** *******************************
	# *** REDUCERS

	# *** *******************************
	# *** CONVERTERS
